<div class="container">
  <div class="box form-box">
    <h1 class="title is-spaced">Log in</h1>
  
      <%= simple_form_for(resource, as: resource_name, url: new_user_session_path(resource_name)) do |f| %>
        <div class="field">
          <div class="control"> 
          <%= f.input :email,
                      label: 'Email',
                      label_html: { class: 'label' },
                      required: true,
                      input_html: { autocomplete: "email", class:"input", placeholder:"Enter email" }, wrapper: false%>
          </div>
        </div>    
        <div class="field">
          <div class="control"> 
          <%= f.input :password,
                      label: 'Password',
                      label_html: { class: 'label' },
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "password", class:"input", placeholder:"Password" }, wrapper: false%>
          </div>

        <div class="field is-grouped is-grouped-centered submit-button-group">
          <div class="control">
            <%= f.button :submit, "Log in", class:"button is-primary" %>
          </div>
<% end %>
  </div>
</div>




