/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 $pink: #ea3c89;
 $pink-invert: #fff;

 $primary: $pink;
 $primary-invert: $pink-invert;
 $link: $primary;
 $link-hover: darken($primary, 20%);


 @import "bulma";
 @import "dropzone/basic";
 
 html, body {
     min-height: 100vh;
     background-color: #f4f4f4
 }
 .custom-navbar {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    margin-bottom: 1rem;
 }

 .form-box {
     margin-top: 10px;
 }

 .submit-button-group {
     margin-top: 2rem;
 }

 .control > .error {
     display: inline-block;
     margin: 10px 0 0 10px;
     padding: 0 50px;
     box-shadow: 0 0 0 0.125em rgba(234, 60, 137, 0.25);
     border: 3px solid $pink;
     border-radius: 5px;
 }

 .error_notification {
     border: 2px solid $pink;
     box-shadow: 0 0 0 0.125em rgba(234, 60, 137, 0.25);
     text-align: center;
     margin-bottom: 30px;
     padding: 10px 0;
     font-size: 1.5rem;
     border-radius: 5px;

 }