// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-title {
    display: inline-block;
    border-bottom: 3px solid pink;
    padding-bottom: 1rem;
    color: #CA2C41;
    font-size: 3rem;
}


.home-explanation {
    margin-top: 13rem;
}

.index-page-button {
    margin: 1rem 0;
}

.text-link:hover {
    color: #ea3c89;
    background-color: white;
}