// Place all the styles related to the Shots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-file-form {
    border: 1px dashed black;
    margin: 10px;
    padding: 10px;
}